.content {
  width: calc(100vw - 8rem);
  margin-left: auto;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  max-width: 2000px;
  margin: 0px auto;
}
.video-preview {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px;
}
.thumbnail-container{
  position: relative;
}
.thumbnail {
  width: 100%;
  border-radius: 10px;
}
.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-size: 12px;
  font-weight: 500;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 2px;
}
.video-info-all {
  display: grid;
  grid-template-columns: 4rem 1fr;
}
.channel-logo-section {
  display: flex;
  justify-content: center;
}
.channel-logo {
  height: 3.6rem;
  border-radius: 50%;
  margin-top: 10px;
}
.description {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.title {
  margin: 10px 0px 0px 10px;
  font-size: 1.6rem;
  font-weight: 500;
}
.video-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.small-text {
  color: #303030;
  font-size: 1.4rem;
  margin: 0px 0px 0px 10px;
}
